/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$ultra-black:   #000;
$black:         #444;
$white:         #fff;

$grey--dark:    #666;
$grey:          #aaa;
$grey--light:   #ccc;

$purple:        #946897;

$blue:          #66B4EC;
$blue--light:   #BDDFF7;
