:root {
  --theme-background: #454468;
  --theme-color: #fff;
}

body {
  color: var(--theme-color);
  background: var(--theme-background);
}

.circle-btn {
  background-image: paint(circle);

  resize: both;
  overflow: auto;
}
