/* ==========================================================================
   General

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

html, body {
    min-height: 100%;
    font-family: $helv;
    font-size: 22px;
}

img {
    max-width: 100%;
}
