/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$black:             #333;
$white:             #fff;


$green-lighter:     #D7F1F1;
$green-light:       #6EB2B4;
$green:             #74CDCF;
$green-dark:        #42989B;


$blue-dark:         #001725;
