/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$black-full:        #333;
$black-8:           rgba(0, 0, 0, .8);
$black-7:           rgba(0, 0, 0, .7);
$black-6:           rgba(0, 0, 0, .6);
$black-3:           rgba(0, 0, 0, .3);
$black-1:           rgba(0, 0, 0, .1);

$white-full:        #fff;
$white-8:           rgba(255, 255, 255, .8);
$white-6:           rgba(255, 255, 255, .6);
$white-3:           rgba(255, 255, 255, .3);

$green-lighter:     #6CCFAC;
$green-light:       #0CB176;
$green-dark:        #42989B;

$blue-dark:         #001725;

$purple-lighter:    #C294E5;
