.ripple-el {
  --ripple-anim-duration: 1s;
  --ripple-color: #c6efeb;
}

.ripple-el.-animating {
  --ripple-anim-tick: 1000;

  background-image: paint(ripple);
  transition: --ripple-anim-tick var(--ripple-anim-duration) ease;
}
