/* ==========================================================================
   Content
   ========================================================================== */

/* General
   ========================================================================== */


/* Section
   ========================================================================== */
.content__section {
    max-width: 35rem;
    margin: 0 auto;
    padding: 0 2em;

    a {
        color: $blue;
    }
}




/* Section - Header
   ========================================================================== */
.content__section__head {
    font-size: 2rem;
}

.content__section__head--top {
    text-align: center;
}

.content__section__head--left {

    font-size: 1.6rem;

    @media(min-width: $screen-md) {
        margin-left: -4rem;
    }
}

.content__section__head--sub {
    font-size: 1.4rem;
    color: $grey;
}
