/* ==========================================================================
   Content
   ========================================================================== */

/* General
   ========================================================================== */


/* Section
   ========================================================================== */
.content__section {
    max-width: 35rem;
    margin: 0 auto;
    padding: 0 2em;

    a {
        color: $blue;
    }
}

.content__section__header {
    text-align: center;
}
