/* ==========================================================================
   Resume
   ========================================================================== */

/* General
   ========================================================================== */
.resume {
    padding: 0 2em;

    @media(min-width: $screen-lg) {
        display: flex;
    }
}


/* Section
   ========================================================================== */
.resume__section {
    padding: 0 0 2em;

    border-top: .2rem solid;

    @media(min-width: $screen-lg) {
        flex: 1;

        margin: 0 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.resume__section--1 {
    border-color: #90CAF9;
}

.resume__section--2 {
    border-color: #A5D6A7;
}

.resume__section--3 {
    border-color: #B39DDB;
}




/* Sub head
   ========================================================================== */
.resume__sub-head {
    font-size: 1.4rem;
    color: $black;

    margin-bottom: 0;
}

.resume__sub-head--section {
    margin-top: 4rem;

    font-size: 1.3rem;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: .1em;

    &:first-child {
        margin-top: 2rem;
    }
}

.resume__sub-head__small {
    display: block;

    font-family: $font-family--base;
    font-size: .6em;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: $grey;
}



/* Rating
   ========================================================================== */
.resume__rating-list {
    max-width: 20rem;

    li {
        overflow: hidden;
    }
}
.resume__rating-list__rating {
    float: right;
    font-size: 1.4rem;
    line-height: 1;
}



/* Link
   ========================================================================== */
.resume__link {
    position: relative;

    color: $black;
    text-decoration: none;

    transition: color .3s ease;

    &:hover, &:focus {
        color: $blue;
    }
}


/* Link
   ========================================================================== */
.resume__projects-head {
    margin: 0 0 .4rem;

    font-family: $font-family--base;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .5em;
}

.resume__projects-nav {

}

.resume__projects-nav__item {
    display: block;
    font-size: .9em;
}
