:root {
  --theme-background: #454468;
  --theme-color: #fff;
}

body {
  color: var(--theme-color);
  background: var(--theme-background);
}

.circle-btn {
  --circle-color: #454468;

  background-image: paint(circle);
  transition: --primary-color 1s ease;

  resize: both;
  min-width: 24rem;
  min-height: 4rem;
}

.circle-btn:hover {
  --circle-color: tomato;
}
