:root {
  --theme-background: #454468;
  --theme-color: #fff;
}

body {
  color: var(--theme-color);
  background: var(--theme-background);
}

.circle-btn {
  background-image: paint(circle);

  resize: both;
  min-width: 24rem;
  min-height: 4rem;
}

.circle-header {
  margin: 2rem 0;
  padding: 1em;

  background: rgba(230, 150, 70, 1);
  background-image: paint(circle);
}

.has-circle-bg {
  background-image: paint(circle);
}
