@charset "UTF-8";

/* ==========================================================================
   Stylesheet for hover-in-only article

   ========================================================================== */


/* General config
   ========================================================================== */
@import "../config/config";


/* Bourbon
   ========================================================================== */
@import "../../vendor/bourbon/app/assets/stylesheets/bourbon";


/* Styles
   ========================================================================== */
.demo-container {
    padding: 2em;
    margin: 0 0 2em 0;
    background: url('#{$backgrounds}/demo-container-hover-in-only.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.btn-round {
    z-index: 2;
    position: relative;
    border: none;
    font-size: 1.3em;
    text-align: center;
    color: $green-light;
    cursor: pointer;
    @include transform(translateZ(0));
    @include transition(all .3s ease);
    &, &::before {
        width: 2em;
        height: 2em;
        background: $white-full;
        border-radius: 100%;
    }
    &::before {
        content: '';
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover, &:focus {
        background: $green-light;
        color: $white-full;
        outline: none;
        &::before {
            opacity: 0;
            @include transform(scale(1.5));
        }
    }
}

.btn-round--hover-all {
    &::before {
        @include transition(all .3s ease);
    }
}

.btn-round--hover-in {
    &:hover, &:focus {
        &::before {
            @include transition(all .3s ease);
        }
    }
}

.btn-round--hover-out {
    &::before {
        @include transition(all .3s ease);
    }
    &:hover, &:focus {
        &::before {
            @include transition(none);
        }
    }
}
