<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="./../../theme/base.css">
  <link rel="stylesheet" href="./../../theme/button.css">

  <link rel="stylesheet" href="./demo-styles.css">

  <title>DEMO 1 - Layout API - Houdini</title>
</head>
<body>
  <main class="center-content">
    <figure id="fig" class="ratio"></figure>
  </main>

  <script src="./css-properties.js"></script>
  <script src="./app.js"></script>
</body>
</html>
