/* ==========================================================================
   Main article

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

/* General
   ========================================================================== */
.main-article {
    font-family: $gilda;
    line-height: 180%;
}


/* Header
   ========================================================================== */
.main-article__header {
    margin-bottom: 2em;
}

.main-article__header__head {
    margin-bottom: .5em;
    @media (min-width: $screen--small) {
        margin-bottom: 0;
    }
}

.main-article__header__sub {
    color: $green-dark;
    font-size: 1.2em;
    margin: 0;
}


/* Section
   ========================================================================== */
.main-article__section {
    margin-bottom: 4em;
}

.main-article__section__sub {
    margin-top: 3em;
    font-size: .9em;
    line-height: 180%;
    text-transform: uppercase;
    color: $green-dark;
}


/* Splash
   ========================================================================== */
.main-article__splash {
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 6em;
    margin: 0 0 2em 0;
    color: $white-full;
    @media (min-width: $screen--small) {
        height: 50vh;
        margin: 0 0 4em 0;
        background-size: cover;
        background-attachment: fixed;
    }
}

.main-article__splash--text {
    padding: 1em;
    font-size: .8em;
    @media (min-width: $screen--small) {
      padding: 2em;
      font-size: 1em;
    }
}

.main-article__splash--js {
    background-image: url('#{$backgrounds}/js-splash.jpg');
}

.main-article__splash--green {
    background: $green-lighter;
}

.main-article__splash--purple {
    background: $purple-lighter;
}
