/* ==========================================================================
   Main header

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

.main-navigation {
    text-align: center;
    overflow: hidden;
}

.main-navigation__column {
    float: left;
    width: 33.333333333%;
    padding: 0 1em;
    &:hover {
        .main-navigation__header {
            color: $white-6;
        }
    }
}

.main-navigation__header {
    color: $white-3;
    text-transform: uppercase;
    line-height: 180%;
    border-bottom: 1px solid $white-3;
    font-size: .8em;
    letter-spacing: .2em;
    @include transition(color .3s ease-in-out);
}

.main-navigation__sub-header {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: .6em;
    color: $black-7;
    text-transform: uppercase;
}

.main-navigation__link {
    display: block;
    padding: 1em 0;
    font-size: 1em;
    font-family: $gilda;
    color: $white-6;
    text-decoration: none;
    border-bottom: 1px solid $white-3;
    @include transition(color .3s ease-in-out);
    &:hover {
        color: $white-8;
    }
}

