/* ==========================================================================
   Main scafolding

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

html, body {
    min-height: 100%;
}

body {
    padding-bottom: 4em;
}

img {
    max-width: 100%;
}

.center-container {
    width: 90%;
    margin: 0 auto;
    @media (min-width: $screen--small) {
        width: 35rem;
    }
    @media (min-width: $screen--big) {
        width: 45rem;
    }
}

