/* ==========================================================================
   Main article

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

.main-article {
    font-family: $gilda;
    line-height: 180%;
}

.main-article__section {
    margin-bottom: 4em;
}

.main-article__splash {
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    margin-bottom: 4em;
}

.main-article__splash--js {
    background-image: url('#{$backgrounds}/js-splash.jpg');
}
