/* ==========================================================================
   Main header

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

.main-navigation {
    overflow: hidden;
    @media (min-width: $screen--big) {
        text-align: center;
    }
}

.main-navigation__column {
    margin-bottom: 4em;
    @media (min-width: $screen--big) {
        float: left;
        width: 33.333333333%;
        margin-bottom: 0;
        padding: 0 1em;
    }
}

.main-navigation__header {
    color: $green-light;
    text-transform: uppercase;
    line-height: 180%;
    border-bottom: 1px solid $black-3;
    font-size: .8em;
    letter-spacing: .2em;
    @include transition(color .3s ease-in-out);
}

.main-navigation__sub-header {
    margin-bottom: 0;
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: .6em;
    color: $green-dark;
    text-transform: uppercase;
}

.main-navigation__link {
    display: block;
    padding: 1em 0;
    font-size: .8em;
    line-height: 140%;
    font-family: $gilda;
    color: $black-6;
    text-decoration: none;
    border-bottom: 1px solid $black-3;
    @include transition(color .3s ease-in-out);
    &:hover {
        color: $black-8;
    }
}

