/* ==========================================================================
   Main typo

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

html {
    font-family: $helv;
    font-size: 18px;
}

body {
    @media (min-width: $screen--small) {
        font-size: 20px;
    }
    @media (min-width: $screen--big) {
        font-size: 22px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 140%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
