/* ==========================================================================
   Main article

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

/* General
   ========================================================================== */
.main-article {
    font-family: $gilda;
    line-height: 180%;
}


/* Header
   ========================================================================== */
.main-article__header {
    margin-bottom: 2em;
}

.main-article__header__head, .main-article__header__sub {
    margin: 0;
}

.main-article__header__head {

}

.main-article__header__sub {
    color: $green-dark;
    font-size: 1.2em;
}

/* Section
   ========================================================================== */
.main-article__section {
    margin-bottom: 4em;
}

.main-article__section__header {

}

.main-article__section__sub {
    margin-top: 3em;
    font-size: .8em;
    line-height: 180%;
    text-transform: uppercase;
}


/* Splash
   ========================================================================== */
.main-article__splash {
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    margin-bottom: 4em;
}

.main-article__splash--js {
    background-image: url('#{$backgrounds}/js-splash.jpg');
}
