/* ==========================================================================
   Main background

   Never add styles directly to this file - set up imports
   Style guide: https://github.com/necolas/idiomatic-css
   ========================================================================== */

.main-background--green {
    background: $green-dark;
    color: $white-8;
    @include animation(background-fade--green 50s ease-in-out infinite);
}

@include keyframes(background-fade--green) {
    0% {
        background: $green-dark;
    }
    50% {
        background: $green-light;
    }
    100% {
        background: $green-dark;
    }
}
