.btn {
  display: inline-block;
  padding: 1em 3em;

  font-size: 1.3em;
  font-weight: bold;
  color: #fff;

  background-color: #4bc1b6;
  border: 0;
  border-radius: 0.3em;
  cursor: pointer;
  white-space: nowrap;

  transition: box-shadow 0.15s ease;
}

.btn:hover {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.3);
}

.btn:active {
  box-shadow: none;
}

.btn:focus {
  outline: 0;
}

.btn.-resizable {
  resize: both;
  overflow: hidden;

  min-width: 24rem;
  min-height: 4rem;
}
